.feedback-area {
    padding: 100px 0;
    background-color: #f7f5f4;
}
.user-img {
    width: 100px;
    border-radius: 50%;
    border: 2px solid #fff;
}
.feedback-content {
    width: 50%;
    margin: auto;
}
@media screen and (max-width: 768px) {
    .feedback-content {
        width: 90%;
        margin: auto;
    }
}
